<header>
  <nav class="navbar <%= content_for?(:navbar_class) ? yield(:navbar_class) : 'navbar-bluesky navbar-dark' %> navbar-expand-lg fixed-top">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'blueskyv2-icon.png', width: 30, height: 30, class: 'd-inline-block align-top', alt: '' %>
      BlueSky Virtual
    <% end %>

    <div class="collapse navbar-collapse flex-sm-row" id="navbarContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav text-uppercase">
          <%= render 'layouts/v1/navbar/information' %>
          <%= render 'layouts/v1/navbar/flights' %>
          <%= render 'layouts/v1/navbar/people' %>
          <%= render 'layouts/v1/navbar/contact' %>
        </ul>

        <ul class="navbar-nav text-uppercase ml-auto">
          <%= render 'layouts/v1/navbar/user' %>
        </ul>
      <% else %>
        <ul class="navbar-nav text-uppercase">
          <%= render 'layouts/v1/navbar/features' %>
          <%= render 'layouts/v1/navbar/information' %>
          <%= render 'layouts/v1/navbar/flights' %>
          <%= render 'layouts/v1/navbar/people' %>
          <%= render 'layouts/v1/navbar/join' %>
          <%= render 'layouts/v1/navbar/contact' %>
        </ul>

        <ul class="navbar-nav text-uppercase ml-auto">
          <li>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-success' %>
          </li>
        </ul>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
