<% content_for(:title, 'Unlock Account') %>
<% content_for(:navbar_class, 'navbar-home navbar-dark') %>

<div class="jumbotron home-jumbotron jumbotron-fluid text-center">
  <div class="login-container">
    <div class="login-card login-card-container">
      <!--<img id="login-img" class="login-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />-->
      <%= image_tag 'id_badge.png', id: 'login-img', class: 'login-img-card' %>

      <p id="login-name" class="login-name-card">Unlock my account</p>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {class: 'login-form', method: :post}) do |f| %>
        <span id="reauth-email" class="reauth-email"></span>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email address', required: true%>

        <div class="text-danger text-center">
          <% resource.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>

        <% flash.each do |category, msg| %>
          <div class="text-danger text-center">
            <%= msg %>
          </div>
        <% end %>

        <%= f.submit "Send unlock instructions", class: 'btn btn-lg btn-primary btn-block login-btn' %>

      <% end %>

      <%= render partial: "devise/shared/links", locals: { html_class: 'login-links' } %>
    </div>
  </div>

  <div class="home-background" style="background-image: url('<%= randomized_background_image %>');"></div>
</div>
